<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml" >
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/tabs.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/tabstyles.css" />
		<style type="text/css">
			object embed{
				width: 640px;
				height: 480px;
				margin:0;
				padding:0; 
				border:0;
				float:left;
			}
			td input {
				 border-right: 0;   
	 			 padding-right: 0;    
				 border-top:0; 
				 padding-left: 0;       
				 padding-bottom: 0;    
				 border-left: 0;    
				 cursor: pointer;    
				 padding-top: ;;   
				 border-bottom: 0;  
				 height: 90px;
				 width:60px;
				 background:url("/static/css/img/control.png");
			}
		</style>
                <script src="/static/js/ip.js"></script>
  		<script src="/static/js/modernizr.custom.js"></script>
  		<script src="/static/js/jquery.js"></script>
  		<script type="text/javascript">
		    var v = 50;
		    ip=globalip;
		    vip = videoip;
		    function aka(value){
		    	v=value;
		    	var showspeed=document.getElementById ("showspeed");
		    	showspeed.innerHTML = v;
		    }

		    function changip(ipaddress){
		    	ip=ipaddress;
		    	vip = ipaddress;
		    }
		    function aa(v,a) {
		        $.ajax({
		            url: "http://"+ip+"/car",
		            data: "v="+v+"&a="+a,
		            type: "get",
		            processData: false,
		            timeout: 15000,
		            dataType: "text",   //not "json" we'll parse
		            jsonp: "jsonpcallback",
		            success: function(result,state) {
		            	//alert(result+":"+state);
		            	var showop=document.getElementById ("showop");
		    			showop.innerHTML = result;
		            }
		        });
		    }

	        function videoshot_record(op) {
		        $.ajax({
		            url: "http://"+vip+"/"+op,
		            data: "",
		            type: "get",
		            processData: false,
		            timeout: 15000,
		            dataType: "text",   //not "json" we'll parse
		            jsonp: "jsonpcallback",
		            success: function(result,state) {
		                //alert(result+":"+state);
		                var showop=document.getElementById ("showop");
		                showop.innerHTML = result;
		            }
		        });
		    }
		    document.onkeydown = chang_page;
		    document.onkeyup = stop;
		    function chang_page(e) {
		    	e = e||event;
		        if(e.keyCode == 87){ //w forward
		        	aa(v,1);
		        }
		        else if(e.keyCode == 83){ //s rear
		        	aa(v,2);
		        }
		        else if(e.keyCode == 81){ //q forward-left
		        	aa(v,3);
		        }
		        else if(e.keyCode == 69){ //e forward-right
		        	aa(v,4);
		        }else if(e.keyCode == 65){ //a rear-left
		        	aa(v,5);
		        }
		        else if(e.keyCode == 68){ //d rear-right
		        	aa(v,6);
		        }else{
		        	aa(0,0)
				}
		    }

		    function stop(e) {
		    	e = e||event;
		    	aa(0,0);
		    }
		    $(window).ready(function(){
		    	var maxWidth = $(window).width()/2*0.9;
		    	var maxHeight = maxWidth*0.75;
		    	$("embed").width(maxWidth);
		    	$("object").width(maxWidth);
		    	$("embed").height(maxHeight);
		    	$("object").height(maxHeight);
			});
		    $(window).resize(function(){
		    	var maxWidth = $(window).width()/2*0.9;
		    	var maxHeight = maxWidth*0.75;
		    	$("embed").width(maxWidth);
		    	$("object").width(maxWidth);
		    	$("embed").height(maxHeight);
		    	$("object").height(maxHeight);
			});
		</script>
	</head>
	<body>
		<div class="container">
			<div >
				<object classid="clsid:E23FE9C6-778E-49D4-B537-38FCDE4887D8" codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab" style="margin-left:5%" 
		        events="True" id="vlc2" controls="pausebutton">     
		        <param name="MRL"/>     
		        <param name="ShowDisplay" value="True" />     
		        <param name="Loop" value="False" />     
		        <param name="AutoPlay" value="True" />     
		        <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org"     
		               id="vlc0"
		               controls="pausebutton"
		               style="margin-left:5%">    
		        </embed>
		        </object>  
		        <object classid="clsid:E23FE9C6-778E-49D4-B537-38FCDE4887D8" codebase="http://downloads.videolan.org/pub/videolan/vlc/latest/win32/axvlc.cab" 
		        events="True" id="vlc3" controls="pausebutton">     
		        <param name="MRL"/>     
		        <param name="ShowDisplay" value="True" />     
		        <param name="Loop" value="False" />     
		        <param name="AutoPlay" value="True" />     
		        <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org"     
		               id="vlc1"
		               controls="pausebutton">    
		        </embed>
		        </object> 
			</div>
			<section>
				<div class="tabs tabs-style-linetriangle">
					<nav>
						<ul>
							<li><a href="#section-linetriangle-1"><span>控制</span></a></li>
							<li><a href="#section-linetriangle-2"><span>图片上传</span></a></li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-linetriangle-1">
						<div style="float:left">
								<!--ip <input type="text" name="ip" id="ip" value="192.168.1.169" onchange="changip(this.value)" /></br>-->
						        0<input  style="width:50%;" type="range" name="trackBar" id="trackBar" max="100" min="0" defaultValue="50" onchange="aka(this.value)" />100
						        <br/>
						        speed:<span id="showspeed">50</span>% &nbsp <span id="showop">car:停止</span>
					        <table >
								  <tr>
								    <td><input style="background-position:top left; " id="Buttonfl" type="button" value="前左" onmousedown="aa(v,3)" onmouseup="aa(0,0)" /></td>
								    <td><input style="background-position:top center;" id="Buttonf" type="button" value="前进" onmousedown="aa(v,1)" onmouseup="aa(0,0)" /></td>
								    <td><input style="background-position:top right; " id="Buttonfr" type="button" value="前右" onmousedown="aa(v,4)" onmouseup="aa(0,0)" /></td>
								  </tr>
								  <tr>
								    <td><input style="background-position:bottom left; " id="Buttonrl" type="button" value="后左" onmousedown="aa(v,5)" onmouseup="aa(0,0)" /></td>
								    <td><input style="background-position:bottom center; " id="Buttonr" type="button" value="后退" onmousedown="aa(v,2)" onmouseup="aa(0,0)" /></td>
								    <td><input style="background-position:bottom right; " id="Buttonrr" type="button" value="后右" onmousedown="aa(v,6)" onmouseup="aa(0,0)" /></td>
								  </tr>
							</table>
						</div>
						<div>
							<input type=button value="截图到本地" onclick='snapshot()'>
							<input class="b" id="snapShot" type="button" value="截图" onmousedown="videoshot_record('snapShot')"/>
        					<input class="b" id="snapShot" type="button" value="录像" onmousedown="videoshot_record('record')"/>
						</div>
						</section>
						<section id="section-linetriangle-2"><iframe src="http://192.168.1.169:8080/file" width="100%" frameborder="0"></iframe></section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
		</div><!-- /container -->
		<script src="/static/js/cbpFWTabs.js"></script>
		<script>
			(function() {

				[].slice.call( document.querySelectorAll( '.tabs' ) ).forEach( function( el ) {
					new CBPFWTabs( el );
				});

			})();

			/*
			var vlc = document.getElementById("vlc");    
	        var mrl="/static/js/video0.sdp";   
	        //将地址添加到播放列表    
	        vlc.playlist.add(mrl);    
	        //播放    
	        vlc.playlist.play();  
	        vlc.audio.toggleMute()

	        var vlc1 = document.getElementById("vlc1");    
	        var mrl1="/static/js/video1.sdp";   
	        //将地址添加到播放列表    
	        vlc1.playlist.add(mrl1);    
	        //播放    
	        vlc1.playlist.play(); 
	        vlc1.audio.toggleMute() 
	        */
	            function getVLC(name)   
    		{
    		   
            if (window.document[name])      
            {   
                    return window.document[name];   
            }
            if (navigator.appName.indexOf("Microsoft Internet")==-1)   
            {     
                    if (document.embeds && document.embeds[name])   
                            return document.embeds[name];      
            }   
            else   
            {    
                    return document.getElementById(name);   
            }   
    		}
    		var vlc0 = getVLC("vlc0");
    		var vlc1 = getVLC("vlc1");
    		//将摄像头0地址添加到播放列表   
	        vlc0.playlist.add("/static/js/video0.sdp");    
	        //播放    
	        vlc0.playlist.play(); 
	        //静音 
	        vlc0.audio.toggleMute()
	        //将摄像头1地址添加到播放列表    
	        vlc1.playlist.add("/static/js/video1.sdp");      
	        //播放    
	        vlc1.playlist.play();
	        //静音  
	        vlc1.audio.toggleMute()

    		    function snapshot()
    		{
            var vlc = getVLC("vlc"); 
            vlc0.video.takeSnapshot();
            vlc1.video.takeSnapshot();
            alert("截图成功，请在电脑桌面")
    		}
		</script>
	</body>
</html>
